@import '../../styles/design-system.css';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: var(--color-background);
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.header-left {
  display: flex;
  justify-content: start;
  align-items: center;
}
.header-right {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}
.header-right-mobile {
    position: fixed;
    right: -52%;
    top: 0;
    width: 50%;
    height: 100vh;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: 10;
    transition: right 0.3s ease;
    pointer-events: none;
  }
  
  .header-right-mobile.open {
    right: 0;
    pointer-events: auto;
  }

  .header-right-mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9;
  }

  .header-right-mobile.open + .header-right-mobile-overlay{
    display: block;
  }
  
.header-right-mobile-inner {
  width: 90%;
  min-height: 200px;
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.burger-menu-close {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 25px;
}
.burger-menu-icon svg {
  font-size: 25px;
}


.logo {
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}
.logo:hover{
  transform: scale(1.1);
}
.hide {
  display: none;
}
.header-item-text{
  font-size: var(--font-medium);
  text-decoration: none;
  position: relative;
  color: var(--color-black);
  cursor: pointer;
}
.header-item-text::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.2s ease-out;
  color: var(--color-black);
}
.header-item-text:hover::after {
  width: 100%;
}

@media (min-width: 768px) {
  .header-right {
    display: flex;
  }
  .burger-menu-icon {
    display: none;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}


