
:root {
    --color-primary: #ece9e3;
    --color-button: #d8cbb1;
    --color-secondary: #ffcf40;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-blog: #e0dede;
    --background-main: #ece1d1;
    --background-secondary: #c1c1c1;

    /* Gold: ffd700
Goldenrod: daa520
Dark Goldenrod: b8860b
Amber: ffbf00  ////////
Light Goldenrod: fafad2
Golden Yellow: ffdf00
Mustard: ffdb58
Sunglow: ffcc33    ///
Orange Yellow: ffae42
Vegas Gold: c5b358 */
  
    /* Sizes */
    --size-0: 0px;
    --size-6: 6px;
    --size-8: 8px;
    --size-12: 12px;
    --size-16: 16px;
    --size-20: 20px;
    --size-24: 24px;
    --size-32: 32px;
    --size-40: 40px;
    --size-48: 48px;
    --size-56: 56px;
    --size-64: 64px;
    --size-72: 72px;
    --size-80: 80px;
    --size-84: 84px;
    --size-96: 96px;
    --size-128: 128px;
    --size-168: 168px;
  
    /* spacing */
  
    --space-2: 2px;
    --space-4: 4px;
    --space-6: 6px;
    --space-8: 8px;
    --space-12: 12px;
    --space-16: 16px;
    --space-20: 20px;
    --space-24: 24px;
    --space-32: 32px;
    --space-36: 36px;
    --space-40: 40px;
    --space-48: 48px;
    --space-64: 64px;
    --space-72: 72px;
    --space-80: 80px;
    --space-96: 96px;
    --space-128: 128px;
    --space-256: 256px;
    --space-1024: 1024px;
  
    /* Typography */
    --font-primary: "saeklesio", serif;
  
    /* Font Sizes Texts*/
    --font-small: 12px;
    --font-medium: 17px;
    --font-large: 22px;
    --font-header: 30px;
  
    /* Headings */
    --font-h1: 35px;
    --font-h2: 30px;
    --font-h3: 26px;
    --font-h4: 22px;
  
    /* Font Weights */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
  
    /* section Spacing */
    --spacing-50: 50px;
  
  
    /* Layout */
    --container-width-desktop: 1200px;
    --container-width-tablet: 768px;
    --container-width-mobile: 577px;
  
  
    /* Borders */
    --border-thin: 1px;
    --border-medium: 2px;
    --border-thick: 4px;
    --border-radius-small: 8px;
    --border-radius-medium: 16px;
    --border-radius-large: 32px;

    --line-height: 1.5
  
  }
  