@font-face {
  font-family: 'saeklesio';
  src: url('/fonts/gl-saeklesio-regular.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;  
}



* {
  padding: 0;
  margin: 0;
}
.content {
  min-height: calc(100vh - 210px);
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-x: hidden;
  background-color: #ffdc73;
  font-family: 'saeklesio', sans-serif;
}

.content,
.header-inner,
.footer-inner {
  max-width: 2000px;
}

