.blogs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

.blog {
  width: 100%;
  min-width: 250px;
  border: 1px solid #e8e8ea;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #bf9b30;
}
.blog-inner {
  width: 100%;
}
.blog-picture {
  border-radius: 12px;
}

.blog-header {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .blogs {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
  }
  .blog {
    width: 48%;
  }
}

@media (min-width: 992px) {
    .blog {
        width: 28%;
        min-height: 330px;
      }
}

@media (min-width: 1200px) {
  .blog {
    min-height: 330px;
  }
}
